{% load static %}

<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <style>
        .sidebar-nav {
            position: fixed;
            width: 200px;
            height: 100%;
            background-color: #f8f9fa;
            padding: 20px;
            list-style-type: none;
        }

        .sidebar-nav li {
            margin-bottom: 10px;
        }

        .content {
            margin-left: 220px; /* Устанавливаем отступ справа для основного содержимого */
            padding: 20px;
        }
    </style>
    {% endblock %}
</head>

<body>
  <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Главная</a></li>
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'reserved' %}">Мои резервации</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </li>
    {% else %}
        <li><a href="{% url 'login'%}">Вход</a></li>
        <li><a href="{% url 'registration'%}">Регистрация</a></li>
    {% endif %}
  </ul>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
