{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<form action="" method="GET">
    {% csrf_token %}
    <div class="col-lg-2">
        {{form.as_p}}
        <input type="submit" value="Check Availabilty" class="form-control mr-sm-2 btn btn-primary my-4" style="position: relative;top: 7px;">
    </div>
</form>
    {% if rooms %}
    <p class="text-center text-success">Rooms Available</p>
    {% endif %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Получаем элементы формы
    var checkInInput = document.getElementById("id_check_in");
    var checkOutInput = document.getElementById("id_check_out");

    // Обработчик события изменения значения check_in
    checkInInput.addEventListener("change", function () {
        // Устанавливаем минимальное значение для check_out
        var checkInDate = new Date(checkInInput.value);
        var minCheckOutDate = new Date(checkInDate);
        minCheckOutDate.setDate(checkInDate.getDate() + 1);
        checkOutInput.min = minCheckOutDate.toISOString().slice(0, 10);

        // Проверяем, если check_out меньше, чем новое минимальное значение, устанавливаем его равным новому минимальному значению
        var checkOutDate = new Date(checkOutInput.value);
        if (checkOutDate < minCheckOutDate) {
            checkOutInput.value = minCheckOutDate.toISOString().slice(0, 10);
        }
    });

    // Обработчик события изменения значения check_out
    checkOutInput.addEventListener("change", function () {
        // Устанавливаем максимальное значение для check_in
        var checkOutDate = new Date(checkOutInput.value);
        var maxCheckInDate = new Date(checkOutDate);
        maxCheckInDate.setDate(checkOutDate.getDate() - 1);
        checkInInput.max = maxCheckInDate.toISOString().slice(0, 10);

        // Проверяем, если check_in больше, чем новое максимальное значение, устанавливаем его равным новому максимальному значению
        var checkInDate = new Date(checkInInput.value);
        if (checkInDate > maxCheckInDate) {
            checkInInput.value = maxCheckInDate.toISOString().slice(0, 10);
        }
    });
});

</script>
<!--Booking Section ends here-->
<!--Fetched results here-->
<div class="container-fluid px-0 mx-aut">
        {% if rooms %}
           <table class="table">
               <thead class="o">
                <th>Room Number</th>
                <th>Person</th>
                <th>price</th>
           {% for r in rooms %}
            </thead>
                <tr class="">
                <td>{{ r.number }}</td>
                <td>{{ r.places }}</td>
                <td>{{ r.price }}</td>
                <td><a href="{{ r.get_absolute_url }}">Забронировать</a></td>
                </tr>

            {% endfor %}

           </table>
        {% endif %}
    </div>
{% endblock %}
