{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="col-lg-2">
        {{form.as_p}}
        <input type="submit" value="Check Availabilty" class="form-control mr-sm-2 btn btn-primary my-4" style="position: relative;top: 7px;">
    </div>

    {% if rooms %}
    <p class="text-center text-success">Rooms Available</p>
    {% endif %}
</form>
<!--Booking Section ends here-->
<!--Fetched results here-->
<div class="container-fluid px-0 mx-aut">
        {% if rooms %}
           <table class="table">
               <thead class="o">
                <th>Room Number</th>
                <th>Person</th>
                <th>price</th>
           {% for r in rooms %}
            </thead>
                <tr class="">
                <td>{{ r.number }}</td>
                <td>{{ r.places }}</td>
                <td>{{ r.price }}</td>
                <td><a href="{{ r.get_absolute_url }}">Забронировать</a></td>
                </tr>

            {% endfor %}

           </table>
        {% endif %}
    </div>
{% endblock %}
