{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-0 mx-aut">
        {% if reservations %}
           <table class="table">
               <thead class="o">
                <th>Room Number</th>
                <th>Заезд</th>
                <th>Выезд</th>
           {% for r in reservations %}
            </thead>
                <tr class="">
                <td>{{ r.room }}</td>
                <td>{{ r.check_in }}</td>
                <td>{{ r.check_out }}</td>
                <td><a href="{{ r.get_absolute_url }}">Отменить бронь</a></td>
                </tr>
               {% endfor %}

        {% else %}
               <h1>Резерваций нет</h1>
           </table>
        {% endif %}
    </div>

{% endblock %}